$blue1: rgba(69, 155, 198, 1);


$discover:rgb(210, 78, 78);



$wtf:red;
$inProgress:rgba(69, 155, 198, .2);
$inProgress2:rgba(69, 155, 198, 1);
$background: #151718;


$block1: #1CA1EB;
$block2: #EAF6FC;

//purpose
$primary1: rgb(4, 122, 156);
$primary3: rgba(4, 122, 156, .15);
$primary-light: rgb(86, 153, 172);
$primary2: rgb(33, 152, 228);
$primary3: rgba(33, 152, 228, .1);
$active: rgb(25, 164, 162);
$active2:rgba(25, 164, 162, .15);
$notification: #DA0474;

//grayscale
$gray0: rgb(21,23,24);
$pDark:#252525;
$gray1: #676767;
$gray2: rgb(199, 199, 199);
$gray2-light: rgba(199, 199, 199, .15);
$gray3: rgb(217, 217, 217);
$gray3-light: rgba(217, 217, 217, .15);
$gray4: rgb(233, 233, 233);
$gray4-light: rgba(233, 233, 233, .15);
$gray5: #f5f5f5;
$gray6: #ffffff;
$gray7:rgb(250,250,250);

//red
$red0: #CC4E4C;
$red1: #DB0020;

//green
$green1: rgb(103, 177, 79);
$green1-light: rgba(103, 177, 79, .15);

//yellows
$yellow1:#FFB81C;
$yellow2:rgba(255, 184, 28, .1);

$gridLine: rgba(29, 31, 230, 0.15);
$triadBorder: rgb(31, 161, 224);
$triadBorder2: rgb(186, 186, 186);
$triadBackground: rgba(234, 246, 251, .5);
$triadBackground2: rgba(0, 0, 0, 0.05);
