doctype html
html
  head
    title Web Components
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/wc.js")
    script(src="/javascripts/util.js")
    script(src="/javascripts/components/form-1.js")
  body
    block content
